
<div class="container my-5">
  <h2 class="mb-4">Catálogo de Películas</h2>
  <a routerLink="/add-movie" class="btn btn-success mb-3">Agregar Película</a>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Título</th>
          <th>Año</th>
          <th>Sinopsis</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td><a [routerLink]="['/movie', movie.id]">{{ movie.title }}</a></td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.synopsis }}</td>
          <td>
            <a class="btn btn-warning ms-2" [routerLink]="['/edit-movie', movie.id]">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





  