
<div class="main-container d-flex align-items-center justify-content-center vh-100">
  <div class="container bg-light p-5 rounded shadow">
    <!-- Header -->
    <header class="d-flex align-items-center py-3 mb-4 border-bottom">
      <img src="assets/logo.png" alt="Catálogo de Películas" class="me-2" style="width: 50px;">
      <h1 class="h4">Catálogo de Películas</h1>
    </header>

    <!-- Body -->
    <main class="my-4">
      <div class="text-center">
        <h2 class="mb-4">Bienvenido al Catálogo de Películas</h2>
        <p class="lead">Encuentra una amplia variedad de películas de todos los géneros.</p>
        <a class="btn btn-primary" routerLink="/movies">Ver catálogo de películas</a>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center py-4 border-top">
      <p>Materia: Conceptualización de entornos de desarrollo</p>
      <p>Estudiante: Luis Yasmani Fajardo Durán</p>
      <p>Código: 222958771</p>
      <p>correo: <a href="mailto:luis.fajardo@udgvirtual.udg.mx">luis.fajardo&#64;udgvirtual.udg.mx</a></p>
    </footer>
  </div>
</div>

